nodered-flow.json
[
  {
    "id": "flow1",
    "type": "tab",
    "label": "Sensor Monitor",
    "disabled": false,
    "info": "Two-column dashboard for Slave1 temperature and humidity monitoring"
  },
  {
    "id": "sensor_tab",
    "type": "ui_tab",
    "name": "Sensor Dashboard",
    "icon": "dashboard",
    "order": 1,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "temp_group",
    "type": "ui_group",
    "name": "Temperature Monitoring",
    "tab": "sensor_tab",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "hum_group",
    "type": "ui_group",
    "name": "Humidity Monitoring",
    "tab": "sensor_tab",
    "order": 2,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "mqtt_broker",
    "type": "mqtt-broker",
    "name": "EMQX Public Broker",
    "broker": "broker.emqx.io",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "mqtt_in_node",
    "type": "mqtt in",
    "z": "flow1",
    "name": "Slave1 Sensor Data",
    "topic": "sensor/slave1/data",
    "qos": "0",
    "datatype": "auto-detect",
    "broker": "mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 140,
    "y": 100,
    "wires": [
      [
        "json_parse_node"
      ]
    ]
  },
  {
    "id": "json_parse_node",
    "type": "json",
    "z": "flow1",
    "name": "Parse JSON",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 340,
    "y": 100,
    "wires": [
      [
        "function_node"
      ]
    ]
  },
  {
    "id": "function_node",
    "type": "function",
    "z": "flow1",
    "name": "Split Temp & Hum",
    "func": "// Expecting: { \"temp\": <number>, \"hum\": <number> }\n\nif (!msg.payload || typeof msg.payload !== \"object\") {\n    return null;\n}\n\nvar t = Number(msg.payload.temp);\nvar h = Number(msg.payload.hum);\n\nif (isNaN(t) || isNaN(h)) {\n    return null;\n}\n\nvar tempMsg = { payload: t };\nvar humMsg  = { payload: h };\n\nreturn [tempMsg, humMsg];",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 540,
    "y": 100,
    "wires": [
      [
        "temp_gauge",
        "temp_text",
        "temp_chart"
      ],
      [
        "hum_gauge",
        "hum_text",
        "hum_chart"
      ]
    ]
  },
  {
    "id": "temp_gauge",
    "type": "ui_gauge",
    "z": "flow1",
    "name": "Temperature Gauge",
    "group": "temp_group",
    "order": 1,
    "width": 6,
    "height": 4,
    "gtype": "donut",
    "title": "Current Temperature",
    "label": "°C",
    "format": "{{value | number:1}}",
    "min": 0,
    "max": "50",
    "colors": [
      "#1e90ff",
      "#ffa500",
      "#ff4500"
    ],
    "seg1": "20",
    "seg2": "35",
    "x": 820,
    "y": 60,
    "wires": []
  },
  {
    "id": "hum_gauge",
    "type": "ui_gauge",
    "z": "flow1",
    "name": "Humidity Gauge",
    "group": "hum_group",
    "order": 1,
    "width": 6,
    "height": 4,
    "gtype": "donut",
    "title": "Current Humidity",
    "label": "%",
    "format": "{{value | number:0}}",
    "min": 0,
    "max": "100",
    "colors": [
      "#8b4513",
      "#32cd32",
      "#4169e1"
    ],
    "seg1": "40",
    "seg2": "70",
    "x": 820,
    "y": 120,
    "wires": []
  },
  {
    "id": "temp_text",
    "type": "ui_text",
    "z": "flow1",
    "group": "temp_group",
    "order": 2,
    "width": 6,
    "height": 1,
    "name": "Temp Value",
    "label": "📊 Latest Reading:",
    "format": "{{msg.payload | number:1}} °C",
    "layout": "row-spread",
    "x": 830,
    "y": 180,
    "wires": []
  },
  {
    "id": "hum_text",
    "type": "ui_text",
    "z": "flow1",
    "group": "hum_group",
    "order": 2,
    "width": 6,
    "height": 1,
    "name": "Hum Value",
    "label": "💧 Latest Reading:",
    "format": "{{msg.payload | number:0}} %",
    "layout": "row-spread",
    "x": 830,
    "y": 220,
    "wires": []
  },
  {
    "id": "temp_chart",
    "type": "ui_chart",
    "z": "flow1",
    "name": "Temp History",
    "group": "temp_group",
    "order": 3,
    "width": 6,
    "height": 5,
    "label": "Temperature Trend (°C)",
    "chartType": "line",
    "legend": false,
    "xformat": "HH:mm:ss",
    "interpolate": "bezier",
    "nodata": "Waiting for data...",
    "dot": true,
    "ymin": "0",
    "ymax": "50",
    "removeOlder": "15",
    "removeOlderPoints": "",
    "removeOlderUnit": "60",
    "cutout": 0,
    "useOneColor": true,
    "useUTC": false,
    "colors": [
      "#ff6b6b",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "x": 840,
    "y": 280,
    "wires": [
      []
    ]
  },
  {
    "id": "hum_chart",
    "type": "ui_chart",
    "z": "flow1",
    "name": "Hum History",
    "group": "hum_group",
    "order": 3,
    "width": 6,
    "height": 5,
    "label": "Humidity Trend (%)",
    "chartType": "line",
    "legend": false,
    "xformat": "HH:mm:ss",
    "interpolate": "bezier",
    "nodata": "Waiting for data...",
    "dot": true,
    "ymin": "0",
    "ymax": "100",
    "removeOlder": "15",
    "removeOlderPoints": "",
    "removeOlderUnit": "60",
    "cutout": 0,
    "useOneColor": true,
    "useUTC": false,
    "colors": [
      "#4facfe",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "x": 840,
    "y": 340,
    "wires": [
      []
    ]
  }
]