nodered-flow.json
[
    {
        "id": "mqtt_in_node",
        "type": "mqtt in",
        "z": "flow1",
        "name": "Slave1 Sensor Data",
        "topic": "sensor/slave1/data",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 100,
        "wires": [
            [
                "json_parse_node",
                "debug_node"
            ]
        ]
    },
    {
        "id": "json_parse_node",
        "type": "json",
        "z": "flow1",
        "name": "Parse JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 350,
        "y": 100,
        "wires": [
            [
                "temp_gauge",
                "hum_gauge",
                "temp_chart",
                "hum_chart",
                "function_node"
            ]
        ]
    },
    {
        "id": "debug_node",
        "type": "debug",
        "z": "flow1",
        "name": "Raw Data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 60,
        "wires": []
    },
    {
        "id": "function_node",
        "type": "function",
        "z": "flow1",
        "name": "Split Temp & Hum",
        "func": "// Split temperature and humidity into separate messages\nvar tempMsg = {\n    payload: msg.payload.temp,\n    topic: \"temperature\"\n};\n\nvar humMsg = {\n    payload: msg.payload.hum,\n    topic: \"humidity\"\n};\n\nreturn [tempMsg, humMsg];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 100,
        "wires": [
            [
                "temp_text"
            ],
            [
                "hum_text"
            ]
        ]
    },
    {
        "id": "temp_gauge",
        "type": "ui_gauge",
        "z": "flow1",
        "name": "Temperature Gauge",
        "group": "sensor_group",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "30",
        "x": 580,
        "y": 160,
        "wires": []
    },
    {
        "id": "hum_gauge",
        "type": "ui_gauge",
        "z": "flow1",
        "name": "Humidity Gauge",
        "group": "sensor_group",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "30",
        "seg2": "60",
        "x": 570,
        "y": 200,
        "wires": []
    },
    {
        "id": "temp_chart",
        "type": "ui_chart",
        "z": "flow1",
        "name": "Temperature Chart",
        "group": "sensor_group",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Temperature History",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 580,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "hum_chart",
        "type": "ui_chart",
        "z": "flow1",
        "name": "Humidity Chart",
        "group": "sensor_group",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Humidity History",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 570,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "temp_text",
        "type": "ui_text",
        "z": "flow1",
        "group": "sensor_group",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Temperature Value",
        "label": "Current Temp:",
        "format": "{{msg.payload}} °C",
        "layout": "row-spread",
        "x": 780,
        "y": 80,
        "wires": []
    },
    {
        "id": "hum_text",
        "type": "ui_text",
        "z": "flow1",
        "group": "sensor_group",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "Humidity Value",
        "label": "Current Humidity:",
        "format": "{{msg.payload}} %",
        "layout": "row-spread",
        "x": 780,
        "y": 120,
        "wires": []
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "EMQX Public Broker",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "flow1",
        "type": "tab",
        "label": "Sensor Monitor",
        "disabled": false,
        "info": ""
    },
    {
        "id": "sensor_group",
        "type": "ui_group",
        "name": "Slave1 Sensor Data",
        "tab": "sensor_tab",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "sensor_tab",
        "type": "ui_tab",
        "name": "Sensor Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
